# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgres://user:password@localhost:5432/ticket_system

# Session/Redis (optional, for caching)
REDIS_URL=redis://localhost:6379

# Better Auth
BETTER_AUTH_SECRET=your_secret_key_here

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

SUPERUSER_PASSWORD=5up3r53cr3t!
