# Server
PORT=3000
NODE_ENV=development

# Better Auth
BETTER_AUTH_SECRET=your_secret_key_here

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5173
PUBLIC_BACKEND_URL=http://localhost:5173
PUBLIC_NLP_SERVER_URL=http://localhost:8000
PORT=5173

SUPERUSER_PASSWORD=5up3r53cr3t!
