node_modules

# Output
backend/.output
backend/.vercel
backend/.netlify
backend/.wrangler
backend/.svelte-kit
backend/.svelte-kit/**
backend/build
backend/dist

frontend/.output
frontend/.vercel
frontend/.netlify
frontend/.wrangler
frontend/.svelte-kit
frontend/build
frontend/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
backend/vite.config.js.timestamp-*
frontend/vite.config.js.timestamp-*
backend/vite.config.ts.timestamp-*
frontend/vite.config.ts.timestamp-*
# Playwright
test-results

# Notes
todo
instructions.md

# Other
backend/.svelte-kit/ambient.d.ts
backend/.svelte-kit/generated/server/internal.js
frontend/.svelte-kit/ambient.d.ts
frontend/.svelte-kit/generated/server/internal.js
