# Server
NODE_ENV=development

# Database
DATABASE_URL=postgres://user:password@localhost:5432/ticket_system

# Session/Redis (optional, for caching)
REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET=your_secret_key_here

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5172
PORT=5172

SUPERUSER_PASSWORD=5up3r53cr3t!
